.aggreContainer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.aggreContainer>div{
    display: flex;
    flex-direction: row;
}
.aggreContainer>div>button{
   margin: 10px;
}
.result
{
    display: flex;
    flex-direction: column;

}